{
    "repositoryUrl": "git+https://@github.com/ninjaneers-team/uropa.git",
    "plugins": [
      "@semantic-release/commit-analyzer",
      [
        "@semantic-release/release-notes-generator",
        {
          "preset": "angular",
          "parserOpts": {
            "noteKeywords": [
              "BREAKING CHANGE",
              "BREAKING CHANGES",
              "BREAKING"
            ]
          },
          "writerOpts": {
            "commitsSort": [
              "subject",
              "scope"
            ]
          }
        }
      ],
      "@semantic-release/changelog",
      "@semantic-release/github",
      "@semantic-release/git"
    ]
}